* {
    font-family: Arial, Helvetica, sans-serif;
}
/* this is an element selector */
body {
    background-color: aliceblue;
}

h1 {
    color: cornflowerblue;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
/* this is a class selector */
.navbar ul {
    list-style-type: none;
    background-color: rgb(54, 51, 48);
    padding: 0px;
    margin: 0px;
}

.navbar a {
    color: rgb(216, 162, 126);
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

.navbar {
    /* This allows the navigation bar in the website to be next to each other */
    display: flex;
    text-align: left;
    justify-content: left;
    padding-top: 40px;
    padding-right: 10%;
}

nav ul li {
    display: inline-block;
    padding: 10px 20px;
}

h2 {
    color: rgb(1, 184, 184);
    margin: 10px;
    padding: 10px;
}

p {
    float: right;
    color: black;
    width: 500px;
}

img {
    float: left;
    width: 400px;
    margin-bottom: 175px;
}
/* this is an id selector */
#container {
    min-height: 75%;
}

#main {
    overflow: auto;
    padding-bottom: 75px;
}

hr {
    margin-top: 0px;
}

#footer {
    position: relative;
    height: 75px;
    clear: both;
    float: left;
}